@page "/button-events"
@rendermode InteractiveServer

<!--This enables buttons to trigger and call C# functions.-->


<PageTitle>Button Events</PageTitle>

	<h1>Basic Button Events</h1>
	<p>Learning about buttons and events!</p>

	<!--This is generally bad, but very common in Blazor examples. We're going to learn the correct way to add CSS a little later.-->

	<blockquote>
		This page will demonstrate the basics of button events. It will use &lt;input&gt; controls to ask for some user input. It will use a &lt;button&gt; control to process the input. It will demonstrate basice use of C# code to do the processing.
	</blockquote>

	<p>@WelcomeMessage</p>

	<div>
		<button type="submit" @onclick="Reset">Reset</button>

		<label for="inputcontrol">Enter an H for heads or T for Tails:</label>
		<input type="text" id="inputcontrol" placeholder="eg: H" @bind="InputValue"/>
		<button type="submit" @onclick="PlayGame">Play!</button>
	</div>

@code {

	private string WelcomeMessage = "Let us get started!";

	private string InputValue = string.Empty;

	private void Reset()
	{
		WelcomeMessage = "Reset by button!";
	}

	private void PlayGame()
	{
		Random rnd = new Random();

		int flip = rnd.Next(0, 2);

		WelcomeMessage = String.Empty; //roughly equivalent to ""

		string guess = InputValue.ToUpper().Trim(); //Makes it easier to compare

		switch (flip)
		{
			case 0: //heads
				{
					if (guess == "H")
					{
						WelcomeMessage = "You guessed correctly, it's Heads!";
					}
					else if (guess == "T")
					{
						WelcomeMessage = "You guessed incorrectly!";
					}
					else
					{
						WelcomeMessage = $"{guess} was invalid, please enter H or T.";
					}
				}
				break;

			case 1: //Tails
				{
					if (guess == "T")
					{
						WelcomeMessage = "You guessed correctly, it's Tails!";
					}
					else if (guess == "H")
					{
						WelcomeMessage = "You guessed incorrectly!";
					}
					else
					{
						WelcomeMessage = $"{guess} was invalid, please enter H or T.";
					}
				}
				break;

			default: break;
		}
	}
}
