@page "/report"

<PageTitle>Employment Report</PageTitle>

@rendermode InteractiveServer

@using OOPsReview;

<h3>EmploymentReport</h3>
<p>Using a tabular report presentation AKA Tables</p>

@if (FeedbackMsg.Length > 0)
{
	<div class="alert alert-info">
		<p>@FeedbackMsg</p>
	</div>
}

@if (ErrorMsgs.Count > 0)
{
	<div class="alert alert-danger">
		<p>Please fix these errors:</p>
		<ul>
			@foreach (var error in ErrorMsgs)
			{
				<li>@error</li>
			}
		</ul>
	</div>
}

