@page "/bustable"
@using System.IO
@using BusPractice

<PageTitle>Bus List</PageTitle>

<h3>Bus List</h3>

<!--
    Display all of the fields of the Bus class here.
    Display routes as just a Count instead of individually.
    Display a message if there is no data.
-->

@code {

    protected override void OnInitialized()
    {
        //Code for reading from a CSV goes here.
    }
}